.container {
  background-color: #eee;
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;
  row-gap: 30px;
  column-gap: 50px;
  gap: 30px; }

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white; }

.item--1 {
  background-color: orange; }

.item--2 {
  background-color: yellowgreen; }

.item--3 {
  background-color: blueviolet; }

.item--4 {
  background-color: palevioletred; }

.item--5 {
  background-color: royalblue; }

.item--6 {
  background-color: goldenrod; }
