.container {
}

.el1 {
  background-color: rgb(255, 209, 123);
}
.el2 {
  background-color: rgb(255, 128, 128);
}
.el3 {
  background-color: rgb(117, 255, 117);
}
.el4 {
  background-color: rgb(129, 129, 255);
}
